<template>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="~/static/Logo_KAI_Commuter.svg.png" width="75px" style="margin-right: 1em;"/>
                    <span class="fs-4">Vendor Management System</span>
                </a>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="my-0 fw-normal">Term Of Use</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-9">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-body py-3">
                            <h4 class="my-0 fw-normal">What is Lorem Ipsum?</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-justify">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to make a type
                                        specimen book.
                                        It has survived not only five centuries, but also the leap into electronic
                                        typesetting,
                                        remaining essentially unchanged. It was popularised in the 1960s with the release of
                                        Letraset
                                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                        software
                                        like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3">
                            <h4 class="my-0 fw-normal">Term Of Use</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-justify">
                                    <p>
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is that
                                        it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                        here, content here', making it look like readable English. Many desktop publishing
                                        packages and web page editors now use Lorem Ipsum as their default model text, and a
                                        search for 'lorem ipsum' will uncover many web sites still in their infancy. Various
                                        versions have evolved over the years, sometimes by accident, sometimes on purpose
                                        (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Do you agree with the terms and conditions above?</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2">
                    <button type="button" class="btn btn-secondary btn-md">No</button>
                    <button type="button" class="btn btn-md btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Yes</button>
                </div>
            </div>
        </main>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="recipient-name" class="col-form-label">Vendor Type <span
                                            class="text-danger">*</span> :</label>
                                    <select class="form-select mb-3" v-model="post.vendorType">
                                        <option value="">Choose</option>
                                        <option v-for="(vnd, index) in vendor" :key="index" :value="vnd.id">
                                            {{ vnd.vendor_type }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="message-text" class="col-form-label">Instance Type <span
                                            class="text-danger">*</span> :</label>
                                    <select class="form-select mb-3" v-model="post.instanceType">
                                        <option value="">Choose</option>
                                        <option v-for="(subvnd, index) in subVendors" :key="index" :value="subvnd.id">
                                            {{ subvnd.sub_type_vendor }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Email Address <span
                                                class="text-danger">*</span> :</label>
                                        <input type="text" class="form-control" placeholder="Please insert email address"
                                            v-model="post.email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">NPWP Number <span
                                                class="text-danger">*</span> :</label>
                                        <input type="text" class="form-control" placeholder="Please insert npwp number"
                                            v-model="post.npwpNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="recipient-name" class="col-form-label">Password <span
                                            class="text-danger">*</span> :</label>
                                    <input type="password" class="form-control" placeholder="Please insert password"
                                        v-model="post.password">
                                </div>
                                <div class="col-md-6">
                                    <label for="recipient-name" class="col-form-label">Confirm Password <span
                                            class="text-danger">*</span> :</label>
                                    <input type="password" class="form-control" placeholder="Please confirm password"
                                        v-model="post.confirmPassword">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" @click="register">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            post: {
                vendorType: '',
                instanceType: '',
                email: '',
                npwpNumber: '',
                password: '',
                confirmPassword: ''
            },
            showModal: '',
            vendor: [],
            subVendors: [],
            instance: [],
        }
    },

    async fetch() {
        try {
            // GET VENDOR TYPE
            const vendorsType = await this.$axios.get('/api/vendor/type');
            this.vendor = vendorsType.data
        } catch (err) {
            console.log(err);
        }

        try {
            // GET SUB VENDOR TYPE
            const subVendorsType = await this.$axios.get('/api/vendor/sub/type');
            console.log(subVendorsType)
            this.subVendors = subVendorsType.data
        } catch (err) {
            console.log(err);
        }
    },
    methods: {
        register() {
            this.simpan();
        },
        // SIMPAN REGISTRASI
        async simpan() {
            // console.log(this.$axios.$post)
            await this.$axios.post('/api/register', {
                vendor_type: this.post.vendorType,
                instance_type: this.post.instanceType,
                email: this.post.email,
                npwp_number: this.post.npwpNumber,
                password: this.post.password
            }).then(response => {
                if (response.status == '200') {
                    window.location.href = '/';
                }
            });
        }
    }
}
</script>