<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body py-3">
                    <h4 class="my-0 fw-normal">Lorem Ipsum</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book.
                                It has survived not only five centuries, but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                software
                                like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <NuxtLink to="/desclaimer">
                                <button type="button" class="w-100 btn btn-sm btn-outline-danger">Sign up</button>
                            </NuxtLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>