<template>
    <div class="container py-3">
        <Header />
        <main id="main" class="site-main main">
            <section class="section">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6">
                            <h3 class="text-danger">Login Sebagai Vendor</h3>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="user_login">Email</label>
                                    <input type="text" v-model="email" class="form-control" value="" size="20">
                                </div>
                                <div class="form-group">
                                    <label for="user_pass">Password</label>
                                    <input type="password" v-model="password" class="form-control" value=""
                                        size="20">
                                </div>
                                <p class="login-remember"><label><input name="rememberme" type="checkbox" id="rememberme"
                                            value="forever"> Remember Me</label></p>
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-block mb-4" @click="proseslogin">Sign in</button>
                                </div>
                            </form>
                            <p class="small text-center text-gray-soft">Don't have an account yet?
                                <NuxtLink to="/desclaimer" class="py-2">Sign up</NuxtLink>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <Footer />
    </div>
</template>
<script>
import Header from '../../components/layouts/Header.vue'
import Footer from '../../components/layouts/Footer.vue'
export default {
    components: {
        Header: Header,
        Footer: Footer
    },
    data(){
        return {
            post: {
                email : '',
                password: '',
            }
        }
    },
    methods:{
        proseslogin(){
            this.proseslogin()
        },
    
        async proseslogin(){
            await this.$axios.post('/api/processlogin', {
                email: this.post.email,
                password: this.post.password
            }).then(response => {
                if(response.status == 200){
                    alert('success login')
                }else{
                    alert('error login')
                }
            })
        }
    }
}
</script>