<template>
  <div class="container py-3">
      <Header />
      <main>
          <Home />
      </main>
      <Footer />
  </div>
</template>
<script>
import Header from '../components/layouts/Header.vue'
import Footer from '../components/layouts/Footer.vue'
export default {
  components: { 
    Header : Header,
    Footer : Footer
  },
  name: 'IndexPage'
}
</script>
