<template>
    <div class="container py-3">
        <Header />
        <div class="row">
            <div class="col-md-12 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pb-0 mb-3">
                    <h4><strong>Pendaftaran Perusahaan Lokal </strong></h4>
                    <p>Fill all form field to go to next step</p>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li id="building" :class="{ 'active ': step === 1, 'step-done': step > 1 }"><strong>
                                            Data Perusahaan</strong></li>
                                    <li id="personal" :class="{ 'active': step === 2, 'step-done': step > 2 }">
                                        <strong>Penanggung Jawab</strong>
                                    </li>
                                    <li id="pic" :class="{ 'active': step === 3, 'step-done': step > 3 }">
                                        <strong>Contcat person (PIC)</strong>
                                    </li>
                                    <li id="bank" :class="{ 'active': step === 4, 'step-done': step > 4 }">
                                        <strong>Bank</strong>
                                    </li>
                                    <li id="reference" :class="{ 'active': step === 5, 'step-done': step > 5 }">
                                        <strong>Kompetensi & Referensi</strong>
                                    </li>
                                    <li id="finance" :class="{ 'active': step === 6, 'step-done': step > 6 }">
                                        <strong> Finance</strong>
                                    </li>
                                </ul>
                                <!-- fieldsets -->
                                <fieldset>
                                    <section v-show="step === 1">
                                        <form class="form" method="post" action="#">
                                            <div class="form-card">
                                                <h4 class="fs-title">Masukan Data Perusahaan</h4>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Lokasi Pendaftaran Awal
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="lokasi"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi lokasi pendaftaran awal" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Kualifikasi Usaha
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="kualifikasi"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi kualifikasi ssaha" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Jenis Badan Usaha
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="jenis_usaha"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi jenis Badan Usaha" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Nama Perusahaan
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="nama_perusahaan"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi nama perusahaan" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                NPWP
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="npwp"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi nomor npwp" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Alamat NPWP
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="alamat_npwp"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi alamat npwp" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Alamat
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Nama Jalan
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="nama_jalan"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi nama jalan" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Negara
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-select form-select-sm">
                                                                    <option value="">Choose</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Propinsi
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-select form-select-sm">
                                                                    <option value="">Choose</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Kota
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-select form-select-sm">
                                                                    <option value="">Choose</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Kode Pos
                                                            </div>
                                                            <div class="col-md-6">
                                                                <select class="form-select form-select-sm">
                                                                    <option value="">Choose</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                No. Telepone Perusahaan
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" name="telepone"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi nomor telepon perusahaan" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                Alamat Email
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="email" name="email"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Mohon isi alamat email" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-danger" @click="next">Next</button>
                                        </form>
                                    </section>
                                    <section v-show="step === 2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5>Pejabat yang berhak menandatangani PO/Kontrak</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" border="1">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <th style="width: 20%;text-align: left;">Nama</th>
                                                            <th style="width: 10%;text-align: left;">Jabatan</th>
                                                            <th style="width: 60%;text-align: left;">Alamat Email</th>
                                                            <th style="width: 10%;text-align: left;">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left;"><button type="button"
                                                                    class="btn btn-danger btn-sm tambah-person"
                                                                    data-bs-toggle="modal" data-bs-target="#tambahPerson">+
                                                                    Tambah</button></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <form class="form" method="post" action="#" @submit.prevent="next">
                                            <button type="button" class="btn btn-danger" @click="prev">Prev</button>
                                            <button type="button" class="btn btn-danger" @click="next">Next</button>
                                        </form>
                                    </section>
                                    <section v-show="step === 3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 style="text-align: left;">Contact Person (PIC) - Account Manager </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" border="1">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <th style="width: 20%;text-align: left;">Nama</th>
                                                            <th style="width: 10%;text-align: left;">Jabatan</th>
                                                            <th style="width: 60%;text-align: left;">Alamat Email</th>
                                                            <th style="width: 10%;text-align: left;">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left;"><button type="button"
                                                                    class="btn btn-danger btn-sm tambah-person"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#tambahPersonManager">+
                                                                    Tambah</button></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 style="text-align: left;">Contact Person (PIC) - Finance </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" border="1">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <th style="width: 20%;text-align: left;">Nama</th>
                                                            <th style="width: 10%;text-align: left;">Jabatan</th>
                                                            <th style="width: 60%;text-align: left;">Alamat Email</th>
                                                            <th style="width: 10%;text-align: left;">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left;"><button type="button"
                                                                    class="btn btn-danger btn-sm tambah-person"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#tambahPersonFinance">+
                                                                    Tambah</button></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <form class="form" method="post" action="#" @submit.prevent="next">
                                            <button type="button" class="btn btn-danger" @click="prev">Prev</button>
                                            <button type="button" class="btn btn-danger" @click="next">Next</button>
                                        </form>
                                    </section>
                                    <section v-show="step === 4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 style="text-align: left;">Informasi Rekening Bank </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" border="1">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <th style="width: 20%;text-align: left;">Pemegang Rekening</th>
                                                            <th style="width: 10%;text-align: left;">No Rekening</th>
                                                            <th style="width: 10%;text-align: left;">Mata Uang</th>
                                                            <th style="width: 10%;text-align: left;">Nama Bank</th>
                                                            <th style="width: 10%;text-align: left;">Cabang Bank</th>
                                                            <th style="width: 10%;text-align: left;">Clearing Code</th>
                                                            <th style="width: 10%;text-align: left;">Kota</th>
                                                            <th style="width: 10%;text-align: left;">Primary</th>
                                                            <th style="width: 10%;text-align: left;">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left;"><button type="button"
                                                                    class="btn btn-danger btn-sm tambah-person"
                                                                    data-bs-toggle="modal" data-bs-target="#tambahBank">+
                                                                    Tambah</button></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <form class="form" method="post" action="#" @submit.prevent="next">
                                            <button type="button" class="btn btn-danger" @click="prev">Prev</button>
                                            <button type="button" class="btn btn-danger" @click="next">Next</button>
                                        </form>
                                    </section>
                                    <section v-show="step === 5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 style="text-align: left;">Kompetensi & Referensi Perusahaan</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" border="1">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <th style="width: 5%;text-align: left;">No</th>
                                                            <th style="width: 20%;text-align: left;">Kode Kompetensi</th>
                                                            <th style="width: 10%;text-align: left;">Kompetensi</th>
                                                            <th style="width: 10%;text-align: left;">Pengalaman (thn)</th>
                                                            <th style="width: 10%;text-align: left;">Status</th>
                                                            <th style="width: 10%;text-align: center;">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left;"><button type="button"
                                                                    class="btn btn-danger btn-sm tambah-person"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#tambahKompetensi">+
                                                                    Tambah</button></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: center;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 style="text-align: left;">Dukungan Principal</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" border="1">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <th style="width: 5%;text-align: left;">No</th>
                                                            <th style="width: 10%;text-align: left;">Nama Perusahaan</th>
                                                            <th style="width: 20%;text-align: left;">Nama Produk/Jasa</th>
                                                            <th style="width: 10%;text-align: left;">Masa Berlaku</th>
                                                            <th style="width: 10%;text-align: left;">File</th>
                                                            <th style="width: 10%;text-align: center;">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left;"><button type="button"
                                                                    class="btn btn-danger btn-sm tambah-person"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#tambahPrincipal">+
                                                                    Tambah</button></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: center;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 style="text-align: left;">Dokumen Pendukung</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped" border="1">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                            <th style="width: 5%;text-align: left;">No</th>
                                                            <th style="width: 20%;text-align: left;">Surat/Sertifikat</th>
                                                            <th style="width: 10%;text-align: left;">Nomor</th>
                                                            <th style="width: 10%;text-align: left;">Masa Berlaku</th>
                                                            <th style="width: 10%;text-align: left;">File</th>
                                                            <th style="width: 10%;text-align: center;">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left;"><button type="button"
                                                                    class="btn btn-danger btn-sm tambah-person"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#tambahPendukung">+
                                                                    Tambah</button></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: left;"></td>
                                                            <td style="text-align: center;"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <form class="form" method="post" action="#" @submit.prevent="next">
                                            <button type="button" class="btn btn-danger" @click="prev">Prev</button>
                                            <button type="button" class="btn btn-danger" @click="next">Next</button>
                                        </form>
                                    </section>
                                    <section v-show="step === 6">
                                        <form class="form" method="post" action="#">
                                            <div class="form-card">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3 style="text-align: left;">Administrasi Legalitas</h3>
                                                    </div>
                                                    <hr />
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-md-12">
                                                        <h5 style="text-align: left;">No Identitas KTP/SIM/PASSPORT</h5>
                                                    </div>
                                                </div>

                                                <div class="form-group mt-4">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            Nomor
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control form-control-sm"
                                                                placeholder="Mohon isi nomor" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row mt-2">
                                                        <div class="col-md-3">
                                                            Masa Berlaku
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control form-control-sm"
                                                                placeholder="Mohon isi nomor" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row mt-2 mb-3">
                                                        <div class="col-md-3">
                                                            File
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="file" class="form-control form-control-sm " />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control form-control-sm"
                                                                placeholder="Mohon isi file" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row mt-4">
                                                    <div class="col-md-12">
                                                        <h5 style="text-align: left;">Jenis Usaha </h5>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row mt-2">
                                                        <div class="col-md-3">
                                                            Jenis Usaha Lain
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control form-control-sm"
                                                                placeholder="Mohon isi jenis usaha lain" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <form class="form" method="post" action="#" @submit.prevent="next">
                                            <button type="button" class="btn btn-danger" @click="prev">Prev</button>
                                            <button type="button" class="btn btn-danger" @click="next">Next</button>
                                        </form>
                                    </section>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer />

        <!-- MODAL PIC  -->
        <div class="modal fade" id="tambahPerson" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Pejabat yang Berhak menandatangai PO/Kontrak
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="recipient-name" class="col-form-label">Sebutan <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Nama <span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi nama pejabat">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Jabatan <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi nama jabatan">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Email <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi email">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PIC ACCOUNT MANAGER-->
        <div class="modal fade" id="tambahPersonManager" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Contact Person (PIC) - Account Manager
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="recipient-name" class="col-form-label">Sebutan <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Nama <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi nama pejabat">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Jabatan <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi nama jabatan">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Bukti Identitas <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Nomor Identitas <span
                                                class="text-danger">*</span> :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Email <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control form-control-sm"
                                            placeholder="Mohon isi email">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PIC FINANCE -->
        <div class="modal fade" id="tambahPersonFinance" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Contact Person (PIC) - Finance
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="recipient-name" class="col-form-label">Sebutan <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Nama <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi nama pejabat">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Jabatan <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi nama jabatan">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Bukti Identitas <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Nomor Identitas <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Email <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control form-control-sm"
                                            placeholder="Mohon isi email">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL BANK -->
        <div class="modal fade" id="tambahBank" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Informasi Rekening Bank
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="recipient-name" class="col-form-label">Pemegang Rekening <span
                                                class="text-danger">*</span> :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">No Rekening <span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi nomor rekening">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Mata Uang <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi mata uang">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Nama Bank <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Cabang Bank <span
                                                class="text-danger">*</span> </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi cabang bank">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Clearing Code </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm"
                                            placeholder="Mohon isi clearing code">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <label for="message-text" class="col-form-label">Kota </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-select">
                                            <option value="">Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="message-text" class="col-form-label">Set Primary </label>
                                    <input type="checkbox">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Header from '../components/layouts/Header.vue'
import Footer from '../components/layouts/Footer.vue'
export default {
    components: {
        Header: Header,
        Footer: Footer
    },
    data() {
        return {
            steps: {},
            step: 1,
        }
    },
    methods: {
        prev() {
            this.prev()
        },
        next() {
            this.next()
        },

        async next() {
            this.step++
        },
        async prev() {
            this.step--
        }
    },
    async fetch() {
        console.log(this.step)
    }
}
</script>