<template>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="~/static/Logo_KAI_Commuter.svg.png" width="75px" style="margin-right: 1em;" />
                <span class="fs-4 ml-4">Vendor Management System</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home</a>
                <NuxtLink class="me-3 py-2 text-dark text-decoration-none" to="/profile">
                    Profile
                </NuxtLink>
                <NuxtLink to="/auth/login" class="py-2">
                    <button type="button" class="w-100 btn btn-sm btn-outline-danger">Sign in</button>
                </NuxtLink>
            </nav>
        </div>
    </header>
</template>